APP_NAME=NourishAI
APP_VERSION=1.0.0
CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]
MODELS_DIR=models
GDRIVE_RAW_RECIPES_ID=1lE6zl-9dJKUnNu6CDuBvHPpGodKrGnoX
IMAGE_MODEL_URL=https://github.com/CarlAmine/EECE-490/releases/download/v1.0/490Image.pkl
IMAGE_MODEL_EXPECTED_SIZE_MB=687
